
#headshot {
width: 200px;
float: left;
margin-right: 10px;
border: gray thin solid;
padding: 5px;

.body-copy {
    /* background: rosybrown; */
    margin-left: 222px;
    background: rgba(116, 141, 99, 0.21);
    padding: 10px;
}
